---
import Main from '@layouts/Main.astro'
import Operation from '@layouts/Operation.astro'
import Invoices from '@pages/invoices/_components/Invoices.svelte'
---

<Main title="Invoices">
  <Operation>
    <Invoices slot="primary-lane" client:load />
    <div slot="secondary-lane">hola</div>
  </Operation>
</Main>
