<div class="flex h-full w-full">
  <section class="flex-1 overflow-y-scroll">
    <slot name="primary-lane" />
  </section>
  <section class="border-l w-80 overflow-y-scroll">
    <slot name="secondary-lane" />
  </section>
</div>
